<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/seller.css">

    </head>
	<body>
		<!-- HEADER -->
		<%- include('./partials/navigation') %>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Auction</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">All Items</a></li>
									<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">

										<% auctions.forEach(a => { %>
											<div class="product">
											  <div class="product-img">
												<img src="/images/<%= a.image %>" alt="<%= a.title %>">
												<div class="product-label">
												  <% if (a.status === 'active') { %>
													<span class="new">ACTIVE</span>
												  <% } else { %>
													<span class="new" style="background: #D10024;">CLOSED</span>
												  <% } %>
												</div>
											  </div>
										  
											  <div class="product-body">
												<p class="product-category">Auction</p>
												<h3 class="product-name"><a href="/auction/<%= a.id %>"><%= a.title %></a></h3>
										  
												<h4 class="product-price">₦<%= a.current_price.toLocaleString() %></h4>
										  
												<div class="product-rating">
												  <i class="fa fa-star"></i>
												  <i class="fa fa-star"></i>
												  <i class="fa fa-star"></i>
												  <i class="fa fa-star"></i>
												  <i class="fa fa-star-o"></i>
												</div>
										  
												<div class="product-btns">
												  
												  <a href="/auction/<%= a.id %>" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Quick view</span></a>
												</div>
											  </div>
										  
											  <div class="add-to-cart">
												<a href="/auction/<%= a.id %>" class="add-to-cart-btn"><i class="fa fa-gavel"></i> View Auction</a>
											  </div>
											</div>
										  <% }) %>
										  

										<!-- product -->
										
										<!-- /product -->

										<!-- product -->
									

									
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
			  <!-- row -->
			  <div class="row">
				<div class="col-md-12">
				  <div class="hot-deal">
					<ul class="hot-deal-countdown">
					  <li>
						<div>
						  <h3>02</h3>
						  <span>Days</span>
						</div>
					  </li>
					  <li>
						<div>
						  <h3>10</h3>
						  <span>Hours</span>
						</div>
					  </li>
					  <li>
						<div>
						  <h3>34</h3>
						  <span>Mins</span>
						</div>
					  </li>
					  <li>
						<div>
						  <h3>60</h3>
						  <span>Secs</span>
						</div>
					  </li>
					</ul>
					<h2 class="text-uppercase">featured auction ends soon</h2>
					<p>Bid now for exclusive items at unbeatable prices</p>
					<a class="primary-btn cta-btn" href="/auctions">Start Bidding</a>
				  </div>
				</div>
			  </div>
			  <!-- /row -->
			</div>
			<!-- /container -->
		  </div>
		  
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">closed Auctions</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
						  <div class="products-tabs">
							<!-- tab -->
							<div id="tab2" class="tab-pane fade in active">
							  <div class="products-slick" data-nav="#slick-nav-2">
								<!-- auction item -->


								
								<div class="product">
								  <div class="product-img">
									<img src="./img/product06.png" alt="Auctioned Item">
									<div class="product-label">
									  <span class="sale">CLOSED</span>
									</div>
								  </div>
								  <div class="product-body">
									
									<h3 class="product-name"><a href="#">Wireless Headphones</a></h3>
									<h4 class="product-price">Final Bid: $980.00</h4>
									<p class="product-status text-danger">Status: Auction Closed</p>
									<div class="product-rating">
									  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
									  <i class="fa fa-star"></i><i class="fa fa-star-o"></i>
									</div>
									<div class="product-btns">
									  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
									</div>
								  </div>
								  <div class="add-to-cart">
									<button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
								  </div>
								</div>
								<!-- /auction item -->

								<!-- auction item -->
<div class="product">
	<div class="product-img">
	  <img src="./img/product02.png" alt="Auctioned Item">
	  <div class="product-label">
		<span class="sale">CLOSED</span>
	  </div>
	</div>
	<div class="product-body">
	  <p class="product-category">Home Appliances</p>
	  <h3 class="product-name"><a href="#">Smart Air Fryer 4L</a></h3>
	  <h4 class="product-price">Final Bid: $220.00</h4>
	  <p class="product-status text-danger">Status: Auction Closed</p>
	  <div class="product-rating">
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
		<i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
	  </div>
	  <div class="product-btns">
		<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
	  </div>
	</div>
	<div class="add-to-cart">
	  <button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
	</div>
  </div>
  <!-- /auction item -->
  
  <!-- auction item -->
  <div class="product">
	<div class="product-img">
	  <img src="./img/product03.png" alt="Auctioned Item">
	  <div class="product-label">
		<span class="sale">CLOSED</span>
	  </div>
	</div>
	<div class="product-body">
	  <p class="product-category">Gaming</p>
	  <h3 class="product-name"><a href="#">PlayStation 5 Console</a></h3>
	  <h4 class="product-price">Final Bid: $720.00</h4>
	  <p class="product-status text-danger">Status: Auction Closed</p>
	  <div class="product-rating">
		<i class="fa fa-star"></i><i class="fa fa-star"></i>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
	  </div>
	  <div class="product-btns">
		<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
	  </div>
	</div>
	<div class="add-to-cart">
	  <button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
	</div>
  </div>
  <!-- /auction item -->
  
  <!-- auction item -->
  <div class="product">
	<div class="product-img">
	  <img src="./img/product04.png" alt="Auctioned Item">
	  <div class="product-label">
		<span class="sale">CLOSED</span>
	  </div>
	</div>
	<div class="product-body">
	  <p class="product-category">Mobile Devices</p>
	  <h3 class="product-name"><a href="#">Samsung Galaxy S22 Ultra</a></h3>
	  <h4 class="product-price">Final Bid: $1,050.00</h4>
	  <p class="product-status text-danger">Status: Auction Closed</p>
	  <div class="product-rating">
		<i class="fa fa-star"></i><i class="fa fa-star"></i>
		<i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
	  </div>
	  <div class="product-btns">
		<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
	  </div>
	</div>
	<div class="add-to-cart">
	  <button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
	</div>
  </div>
  <!-- /auction item -->
  
  <!-- auction item -->
  <div class="product">
	<div class="product-img">
	  <img src="./img/product05.png" alt="Auctioned Item">
	  <div class="product-label">
		<span class="sale">CLOSED</span>
	  </div>
	</div>
	<div class="product-body">
	  <p class="product-category">Fashion</p>
	  <h3 class="product-name"><a href="#">Ladies Handbag Set</a></h3>
	  <h4 class="product-price">Final Bid: $65.00</h4>
	  <p class="product-status text-danger">Status: Auction Closed</p>
	  <div class="product-rating">
		<i class="fa fa-star"></i><i class="fa fa-star"></i>
		<i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
	  </div>
	  <div class="product-btns">
		<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
	  </div>
	</div>
	<div class="add-to-cart">
	  <button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
	</div>
  </div>
  <!-- /auction item -->
  
  <!-- auction item -->
  <div class="product">
	<div class="product-img">
	  <img src="./img/product10.png" alt="Auctioned Item">
	  <div class="product-label">
		<span class="sale">CLOSED</span>
	  </div>
	</div>
	<div class="product-body">
	  <p class="product-category">Laptops</p>
	  <h3 class="product-name"><a href="#">Dell XPS 13 (2023)</a></h3>
	  <h4 class="product-price">Final Bid: $1,180.00</h4>
	  <p class="product-status text-danger">Status: Auction Closed</p>
	  <div class="product-rating">
		<i class="fa fa-star"></i><i class="fa fa-star"></i>
		<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
	  </div>
	  <div class="product-btns">
		<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
	  </div>
	</div>
	<div class="add-to-cart">
	  <button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
	</div>
  </div>
  <!-- /auction item -->
  
					  
								<!-- Repeat similar structure for more closed auctions -->
								<div class="product">
								  <div class="product-img">
									<img src="./img/product07.png" alt="Auctioned Item">
									<div class="product-label">
									  <span class="sale">CLOSED</span>
									</div>
								  </div>
								  <div class="product-body">
									
									<h3 class="product-name"><a href="#">Men's Leather Watch</a></h3>
									<h4 class="product-price">Final Bid: $450.00</h4>
									<p class="product-status text-danger">Status: Auction Closed</p>
									<div class="product-rating">
									  <i class="fa fa-star"></i><i class="fa fa-star"></i>
									  <i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
									</div>
									<div class="product-btns">
									  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">view details</span></button>
									</div>
								  </div>
								  <div class="add-to-cart">
									<button class="add-to-cart-btn" disabled><i class="fa fa-gavel"></i> Auction Ended</button>
								  </div>
								</div>
					  
								<!-- Add more products similarly -->
							  </div>
							  <div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						  </div>
						</div>
					  </div>
					  
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<%- include('./partials/footer') %>

	</body>
</html>
